@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

// $--nw-primary: #415d32;
$--nw-primary: #ac36de;

// $--nw-primary-light: #d4e7d3;
$--nw-primary-light: #bbb3e1;

// $--nw-primary-light-2: #ebf9eb;
$--nw-primary-light-2: #f1efff;

$--nw-primary-lightest: #fffcff;
$--nw-primary-lightest-4: #fef6ff;

// $--nw-secondary: #8ba872;
$--nw-secondary: #d6d0f3;

$--white: #fff;
$--gray: #d8d8d8;
$--gray-1: #d6d6d6;
$--gray-2: #e7e7e7;
$--slightly-dark-gray: #666666;
$--black: #000;
$--background: #f3f3f3;
$--background-light-gray: #f2f2f2;
$--background-light-gray-2: #f8f8f8;
$--blue: #1a90ff;
$--error-red: #d32f2f;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  // font-family: "Roboto", sans-serif;
  font-family: "Catamaran", sans-serif;
  background: rgb(137, 86, 205);
  background: linear-gradient(
    90deg,
    rgba(137, 86, 205, 1) 0%,
    rgba(187, 179, 225, 1) 76%,
    rgba(187, 179, 225, 1) 100%
  );
}

.font-link {
  font-family: "Hanalei Fill";
  font-size: 40px;
}
