@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

$--nw-primary: #d75893;
$--nw-secondary: #9b4dca;
$--white: #fff;
$--gray: #d8d8d8;
$--slightly-dark-gray: #666666;
$--background: #f3f3f3;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: $--background;
}

.font-link {
  font-family: "Hanalei Fill";
  font-size: 40px;
}
