@import "./common_styles/index.scss";

.adminDashboard {
  padding: 100px 50px;
  min-height: 100vh;
  background-color: $--nw-primary-lightest;

  .MuiTableCell-root {
    min-width: 150px;
  }

  .tableCell {
    &--xxl {
      min-width: 300px !important;
    }
  }

  &__client {
    .actionNav {
      display: flex;
      margin-bottom: 12px;

      h2 {
        cursor: pointer;
      }

      h2:hover {
        color: $--nw-primary;
      }

      &--current {
        color: $--nw-primary;
      }
    }
  }
}
