@import "./common_styles/index.scss";

.dashboard {
  padding: 150px 40px;
  min-height: 100vh;
  background-color: $--background-light-gray;
  display: flex;

  .dashboardGoal {
    display: flex;
    padding: 20px;
    border-radius: 6px;
    height: 115px;
    background-color: $--white;

    &__summary {
      margin-right: 40px;

      .selectGoal {
        min-width: 200px;
        margin-bottom: 8px;

        &__stage {
          color: $--blue;
          font-size: 14px;
        }
      }
    }
  }
}
