@import "./common_styles/index.scss";

.footer-distributed {
  background-color: #969a9e;
  box-shadow: 0 1px 1px 0 rgba(145, 131, 131, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 10px 10px;
}

.footer-distributed .footer-left {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 400px;
}
