@import "./common_styles/index.scss";

.header {
  width: 100vw;
  position: fixed;
  // background-color: $--gray-2;
  background: rgb(199, 199, 199);
  background: linear-gradient(
    90deg,
    rgba(199, 199, 199, 1) 0%,
    rgba(207, 207, 207, 1) 39%,
    rgba(250, 250, 250, 0.6097032563025211) 100%
  );
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 9999;

  .logo {
    height: 50px;
    margin-right: 10px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    font-family: "Catamaran", sans-serif;
  }
}
