@import "./common_styles/index.scss";

.surveyWizard {
  background-color: $--nw-primary-lightest;
  padding: 100px 5%;

  &__sub {
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  &__textField {
    margin-right: 32px !important;
    margin-top: 10px !important;
  }

  &__gender {
    margin-right: 32px !important;
    margin-top: 10px !important;

    &--btn {
      height: 56px;
    }
  }

  &__select {
    margin-right: 32px !important;
    margin-top: 10px !important;
  }

  &__title {
    font-size: 18px;
    text-align: center;
  }

  &__button {
    background-color: $--nw-primary !important;

    &--cancel {
      margin-left: 20px !important;
    }
  }
}

.surveyText {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-bottom: 30px;
  color: $--nw-primary;
}

.errorText {
  font-size: 14px;
  color: $--error-red;
}

.MuiSlider-root {
  margin-left: 10px !important;
}

@media only screen and (max-width: 500px) {
  .surveyWizard {
    &__sub {
      margin-bottom: 0px;
    }

    &__textField {
      width: 320px !important;
      margin-bottom: 20px !important;
    }

    &__gender {
      margin-bottom: 20px !important;

      &--btn {
        font-size: 12px !important;
        height: 56px;
      }
    }

    &__scroller {
      margin-bottom: 20px !important;
    }

    &__select {
      width: 308px !important;
      margin-right: 32px !important;
      margin-bottom: 20px !important;
    }

    &__title {
      font-size: 18px;
      text-align: center;
    }

    &__button {
      width: 100px !important;

      &--cancel {
        width: 100px !important;
      }
    }

    &__textbox {
      width: 308px !important;
      margin-bottom: 32px !important;
    }
  }
  .errorText {
    margin-bottom: 10px !important;
  }
}
